* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

.clean {
    clear: both;
}

.nav_left {
    margin-right: 30px;
}

.nav {
    margin: 20px auto 10px auto;
    max-width: 1400px;
    text-align: center;
}

.nav_left, .nav_right, .nav_right ul li {
    display: inline-block;
    vertical-align: middle;
}

.nav_left {
    width: 15%;
}

.nav_left img {
    width: 100%;
}

.nav_right li {
    padding: 10px;
}

.nav_right a {
    display: inline-block;
    min-width: 110px;
    line-height: 40px;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav_right a:hover {
    border-bottom: 2px solid #2a85e3;
    color: #2a85e3;;
}