* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

ul, p {
    margin-bottom: 0 !important;
}

body {
    margin: 0;
    font-family: 'Microsoft YaHei', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif !important;
    line-height: 1 !important;
}

ul {
    list-style-type: none;
}

.center_horizontal {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.text_normal_white {
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.text_normal_black {
    color: black;
    font-size: 18px;
    line-height: 30px;
}

.text_normal_weight {
    color: black;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
}

.text_normal_weight_light {
    color: black;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.text_normal_hint {
    color: #868686;
    font-size: 18px;
    line-height: 30px;
}

.clean {
    clear: both;
}

.nav_left {
    margin-right: 30px;
}

#nav, #product_center, .honor_content_container, #partner, #footer {
    margin: 0 auto 0 auto;
    max-width: 1400px;
    text-align: center;
}

#footer {
    max-width: 1500px;
}

#nav {
    margin-top: 30px;
}

.nav_right {
    margin-top: 10px;
}

#partner {
    max-width: 1000px;
}

#product_center {
    padding-bottom: 50px;
}

.nav_left, .nav_right, .nav_right > ul > li {
    display: inline-block;
    vertical-align: middle;
}

.nav_left {
    width: 15%;
}

.nav_left img {
    width: 100%;
    display: block;
}

.nav_right > ul > li {
    padding: 10px;
}

.nav_right a:not(.active_tab) {
    display: inline-block;
    min-width: 110px;
    line-height: 40px;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    color: black;
}

.active_tab {
    display: inline-block;
    min-width: 110px;
    line-height: 40px;
    font-size: 20px;
    border-bottom: 2px solid #2a85e3;
    color: #2a85e3;;
}

.drop_menu a:hover, .nav_right a:hover {
    border-bottom: 2px solid #2a85e3;
    color: #2a85e3;;
}

.drop_menu a {
    padding: 5px 0 5px 0;
}

.title {
    text-align: center;
    font-size: 35px;
    padding: 50px;
}

#product_center > div + div:not(:first-child) {
    display: inline-block;
}

.float_top_container div {
    float: top;
}

.honor_function_item_left {
    width: 40%;
    display: inline-block;
    margin: 50px 50px 0 0;
}

.honor_function_item_right {
    width: 40%;
    display: inline-block;
    margin: 50px 0 0 50px;
}

.honor_function_item_left span, .honor_function_item_right span {
    display: block;
    padding: 50px 0 50px 0;
    font-size: 18px;
}

#partner img {
    width: 16%;
}

#footer {
    padding-top: 50px;
}

#footer a:not(.link_hint) {
    color: white;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
    min-width: 130px;
}

#footer span {
    color: white;
}

#footer_left {
    vertical-align: top;
}

.link_hint {
    color: #949494;
    font-size: 12px;
}

#footer > div {
    display: inline-block;
}

.divider {
    width: 1px;
    height: 250px;
    background-color: white;
}

.news_day {
    color: rgb(1, 150, 255);
    width: 54px;
    height: 54px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    border: 2px solid rgb(1, 150, 255);
    border-image: initial;
    border-radius: 5px;
}

.news_month {
    color: rgb(1, 150, 255);
    text-align: center;
    width: 54px;
    font-size: 24px;
    border-radius: 5px;
}

.index_pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 80px;
    font-size: 12px;
    font-weight: 600;
}

.index_pagination li {
    display: inline;
}

.index_pagination > li > a {
    border: 1px solid #999;
    padding: 8px 12px;
    color: #505050;
    margin-left: 7px;
}

.active_page {
    color: #fff !important;
    background-color: #2a85e3 !important;
    border-color: #2a85e3 !important;
}

.index_pagination li a:hover {
    color: #000;
    background-color: #eee;
    border-color: #ddd;
}

.index_pagination > li > span > input {
    border: 1px solid #999;
    text-align: center;
    padding: 8px 0;
    margin: -8px 2px;
    color: #000;
    background: #fff;
    border-radius: 0;
    width: 32px;
}

.index_pagination > li > button {
    border: 1px solid #0196ff;
    text-align: center;
    padding: 10px 8px;
    color: #fff;
    background: #0196ff;
    border-radius: 0;
    letter-spacing: 2px;
}