#slide_img {
    position: relative;
    overflow: hidden;
}

#buttons, .slidpic {
    visibility: hidden;
}

.slidpic {
    position: absolute;
    opacity: 0;
}

.slidpic a {
    display: block;
}

.slidpic img {
    width: 100%;
}

.slidpic:first-child {
    visibility: visible;
    opacity: 1;
}

#slide_img:hover #buttons {
    display: block;
    visibility: visible;
}

#buttons i {
    width: 30px;
    color: white;
    height: 60px;
    line-height: 60px;
    background: #333;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity:20);
    font-family: simsun, serif;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#buttons i:hover {
    opacity: 0.4;
    filter: alpha(opacity:40);
}

#prev {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 30px;
    color: #fff;
}

#next {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 30px;
    color: #fff;
}

#slidot {
    width: fit-content;
    position: absolute;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 3;
}

#slidot li {
    list-style: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: gray;
    border-radius: 100%;
    margin: 0 4px;
    *display: inline;
    *zoom: 1;
}

#slidot li:hover {
    background: #3b0;
    cursor: pointer;
}

#slidot li.on {
    background: blue;
}